.chat-list-search-form{
    padding: 10px 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.chat-list-search-input{
    padding: 12px 15px;
    width: calc(100% - 40px);
    background-color: rgb(44, 44, 44, 1);
    border-radius: 100px;
    border: none;
    color: var(--font-color-white);
}

.user-menu-btn{
    background-color: transparent;
    border: none;
}

.user-menu-btn img {
    filter: invert(60%);
}


.search-form{
    display: flex;
    width: 100%;
    justify-content: start;
    padding: 5px 0 !important;
    align-items: center !important;
    gap:10px;
    flex-direction: row !important;
}

.search-box{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap:5px;
}

.search-form input{
    width: 100%;
}

.search-box ul,
.search-box li{
    width: 100%;
}

.user-info-box{
    width: 100%;
}

.search-selected-users{
    width: 100%;
    margin: 10px 0;
}