.chat-list-search-form{
    padding: 10px 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.chat-list-search-input{
    padding: 12px 15px;
    width: calc(100% - 40px);
    background-color: rgb(44, 44, 44, 1);
    border-radius: 100px;
    border: none;
    color: var(--font-color-white);
}

.user-menu-btn{
    background-color: transparent;
    border: none;
}

.user-menu-btn img {
    filter: invert(60%);
}

