root{
  --font-color-white: rgb(255, 255, 255, 1);
  --background-color:rgb(33, 33, 33, 1);
  --active-background-color: rgb(41,41,41,1);
  --transition: 300ms ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background-color: rgb(33, 33, 33, 1);
  color: rgb(255, 255, 255, 1);
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.primary-btn{
  background-color: #181818;
  border: none;
  color: var(--font-color-white);
  padding: 15px 20px;
  border-radius: 10px;
  transition: background-color 300ms ease-in-out;
  cursor: pointer;
}

.primary-btn:focus,
.primary-btn:hover{
  background-color: #303030;
}
